<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>%(status)s</title>
    <link rel="stylesheet" type="text/css" href="$SCRIPT_NAME/static/css/act.css">
</head>
    <body>

<div class = "header">%(status)s</div>

<div class = "main">

<!--<hr>-->
        <p>%(message)s</p>
        <p>Sorry, something has gone wrong - probably due to the given query constraints, which have now been cleared.</p>
        <p><b>Please refresh this page to continue.</b></p>
        <pre>%(traceback)s</pre>

</div>
<div class="footer">Sourcery - $VERSION</div>

</body>
</html>
