# Sourcery config file

# Location of cache dir - store all images, catalog matches etc. under here
# There's no real reason why this shouldn't be under public_html on the webserver
cacheDir="/home/matty/Documents/XCS/XCSDB/sourceryCache"

# Location of skyview cache - this gets filled with .fits images, we will want to clean out eventually
skyviewCacheDir="/home/matty/Documents/XCS/XCSDB/skyviewCache"

# Will need to think about column names, formats etc.
# Simplest to force some pre-processing, i.e., need name, RADeg, decDeg columns
# We will not allow catalog cuts on the source list, so for e.g., XCS should give extended source list only
catalogFileName="/home/matty/Documents/XCS/XCSDB/sourceLists/Ext_DR_01_08_14.fits"
catalogComments="Extended sources only; cuts of | Galactic latitude | > 20 degrees and softCts > 100 applied."

# This is just the base file name for catalogs we serve for download (XCS.fits, XCS.cat etc.)
catalogDownloadFileName="XCS"

# Which columns to display in table view? 
# These are in addition to name, RADeg, decDeg
tableDisplayColumns=["obsID", "softCts"]
tableDisplayColumnFormats=['%s', '%.1f']

# Cross matches with external databases
addNEDMatches=True
addSDSSRedshifts=True

# Extra catalogs to match against
#extraMatches={'fileName': "Hasselfield2013_upp.csv", 'label': "Hasselfield '13"}
#extraMatches={'fileName': "../XCS_Oct2013/act_list_hilton.csv", 'label': "XCS"}
#extraMatches={'fileName': "../../../extraCatalogs/SCS05h.csv", 'label': "SCS"}

# Source page options
# We need a way to set up custom plot making, e.g., from ACT filtered maps, XCS X-ray images.
# Plus contouring options, e.g., X-ray contour overlays, FIRST, NVSS etc.
# Probably the best way will be deriving classes from SourceBrowser that have the additional routines.
# plotSizeArcmin is the largest possible plot size
plotSizeArcmin=8.0
plotDisplayWidthPix=600
figSize=(8.25, 7.5)
objectTypeString="candidates"

addSDSSImage=True
addCFHTLSImage=False

# JPEG images made from SkyView data - entries in each lists must correspond
skyviewLabels=['DSS2', '2MASS', 'WISE', 'FIRST']
skyviewSurveyStrings=['dss2ir,dss2r,dss2b', '2mass-k,2mass-h,2mass-j', 'wise12,wise4.6,wise3.4', 'first']

# This goes in the footer on all pages
hostedBy="Hosted by <a href=http://www.acru.ukzn.ac.za>Astrophysics & Cosmology Research Unit</a>"
